body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    padding: 40px;
}

.contenedor {
    max-width: 400px;
    margin: auto;
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background: #0353a4;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #032e6a;
}

.error {
    color: red;
    font-size: 14px;
}
